
body{
    background-color: aliceblue;    
    font-family: 'Courier New', Courier, monospace;
    font-size: clamp(18px, 5vw, 24px);
    padding: 20px;
    }

h1 {
    font-size: clamp(32px, 10vw, 50px);

}

.tile {
    border-radius: 5px;
    box-shadow: 2px 2px #888888;
    background-color: beige;
    padding: 20px;
    display: block;
    float: left;
    margin: 5px;
    font-size: clamp(12px, 5vw, 24px);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
   
}


#results {
    width: 80vw;
    overflow: auto;
    min-height: 70px;
    padding: 10px;
    border: 2px solid #aaaaaa;
    margin-top: 15px;
    display:inline-block;
    background-color:#f1f2f3;
    background-image:
        linear-gradient(rgba(0,0,0,.015) 1px, transparent 1px),
        linear-gradient(0, rgba(0,0,0,.015) 1px, transparent 1px);
    background-size:5px 5px;
    background-position:-1px -1px, -1px -1px
      
  }


#pickLettersDiv{
    margin-top: 10px;
    margin-bottom: 10px;
}

#timerDiv #scoreDiv {
   padding: 5px;

}

button {
    border-radius:5px;
    text-decoration:none;
    color:#ffffff;
    background-color:#FFFFFF;
    border:1px solid #000000;

}

#pickLetterButton {
    background-color:lightgreen;
    border:1px solid #000000;
    color:#000000;
	display:inline-block;
	padding:10px 71px;
    margin: 10px 0 10px 0;
}

#redrawButton {
	background-color:#FFFFFF;
    border:1px solid #000000;
    color:#000000;
	display:inline-block;
	padding:10px 71px;
    margin: 10px 0 10px 0;
}

#doneButton {
	background-color:#FFFFFF;
    border:1px solid #000000;
    color:#000000;
	display:inline-block;
	padding:10px 71px;
    margin: 10px 0 10px 0;
}

#newGameButton {
	background-color:#FFFFFF;
    border:1px solid #000000;
    color:#000000;
	display:inline-block;
	padding:10px 71px;
    margin: 10px 0 10px 0;
}
